<h1>Edit Note</h1>
<%= link_to 'Notes', notes_path %>
| <%= link_to 'Delete', @note, :confirm => 'Are you sure?',
                        :method => :delete %> 
<hr />

<%= form_for @note do |f| %>
  <% if @note.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@note.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

	<ul id="notes">
		<li>
			<div  class="note_class color_<%= @note.color.downcase %> single_note">
		      	<header>
		        	<span class="handle">
		          	<%= link_to 'x', @note,  :confirm => 'Are you sure?', 
		                                  :method => :delete %> 
		        	</span>
		<!--         <span class="handle">[move]</span>
		 -->      
		      	</header>
			    <p>
					<%= f.label :color %>
					<%= f.text_field :color, :placeholder => "blue",  autofocus:"true" %>
				</p>
				<p>
					<%= f.label :title %>
					<%= f.text_field :title, :placeholder => "the note's title goes here" %>
				</p>
				<p>
					<%= f.label :text %>
					<%= f.text_area :text, :placeholder => "your note goes here" %>
				</p>
				<hr />
				<p>
					<%= f.submit "Edit Note", class:"btn btn-large btn-success" %>
				</p>
			</div>
		</li>			
	</ul>
<% end %>
