<h1>Notes</h1>
<%= link_to 'Add Note', new_note_path %>
|  <%= link_to 'Save List', notes_path %>
<hr />

<% if @note.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@note.errors.count, "error") %> prohibited
      this post from being saved:</h2>
  <ul>
  <% @note.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<ul id="notes" data-update-url="<%= sort_notes_url %>">
<% for note in @notes %>
  <%= content_tag_for(:li, note) do %>
    <div  class="note_class color_<%= note.color.downcase %>">
      <header>
        <span class="handle">
          <%= link_to 'x', note,  :confirm => 'Are you sure?', 
                                  :method => :delete %> 
        </span>
<!--         <span class="handle">[move]</span>
 -->      
      </header>

      <a href="<%= edit_note_path(note) %>">
<!--       <a href="<%= note_path(note)%>">
 -->        <p><%= note.position %></p>
        <p><%= note.text %></p>
      </a>
    </div>
  <% end %>
<% end %>
</ul>

