<h1>New Note</h1>
<%= link_to 'Notes', notes_path %>
<hr />

<%= form_for @note do |f| %>
  <% if @note.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@note.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

	<ul id="notes">
		<li>
			<div  class="note_class color_<%= @note.color.downcase %> single_note">
			<p>
				<%= f.label :color %>
				<%= f.text_field :color, :placeholder => "yellow", autofocus:"true" %>
			</p>
			<p>
				<%= f.label :title %>
				<%= f.text_field :title, :placeholder => "the note's title goes here" %>
			</p>
			<p>
				<%= f.label :text %>
				<%= f.text_area :text, :placeholder => "your note goes here" %>
			</p>
			<hr />
			<p>
				<%= f.submit "Add Note", class:"btn btn-large btn-success" %>
			</p>
		</li>			
	</ul>
<% end %>
