<h1>New Note</h1>
<%= form_for @note do |f| %>
  <% if @note.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@note.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

	<div class="row">
		<div class="span6">
			<p>
				<%= f.label :title %>
				<%= f.text_field :title, :placeholder => "the note's title goes here", autofocus:"true" %>
			</p>
			<p>
				<%= f.label :text %>
				<%= f.text_field :text, :placeholder => "your note goes here" %>
			</p>
			<p>
				<%= f.label :color %>
				<%= f.text_field :color, :value => "blue" %>
			</p>
			<br />
			<p>
				<%= f.submit "Add Note", class:"btn btn-large btn-success" %>
			</p>
			<hr />
		</div>`
	</div>
<% end %>

<%= link_to 'Notes', notes_path %>
