<p id="notice"><%= notice %></p>
 
<p>
  <b>Color:</b>
  <%= @note.color %>
</p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>
 
<p>
  <b>Text:</b>
  <%= @note.text %>
</p>
 
<%= link_to 'Edit', edit_note_path(@note) %>
| <%= link_to 'Delete', @note, :confirm => 'Are you sure?',
                        :method => :delete %> 
| <%= link_to 'All Notes', notes_path %>
